name: Auto PR + Merge

on:
  push:
    branches:
      - i
      - oil
      - res
      - l

jobs:
  auto-pr:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write

    steps:
      - uses: actions/checkout@v4

      - name: Create Pull Request
        id: cpr
        uses: repo-sync/pull-request@v2
        with:
          source_branch: ${{ github.ref_name }}
          destination_branch: main
          pr_title: "Auto PR from ${{ github.ref_name }}"
          pr_body: "สร้างอัตโนมัติ"
          github_token: ${{ secrets.GITHUB_TOKEN }}
          pr_allow_empty: false

      - name: Merge PR
        if: ${{ steps.cpr.outputs.pr_number }}
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          gh pr merge ${{ steps.cpr.outputs.pr_number }} --merge --auto --delete-branch
