name: Cleanup - Delete Branch After Merge

on:
  pull_request:
    types: [closed]

jobs:
  delete-branch:
    runs-on: ubuntu-latest

    # ทำเฉพาะตอน merge สำเร็จ
    if: github.event.pull_request.merged == true

    permissions:
      contents: write

    steps:
      - name: Delete merged branch
        run: |
          BRANCH_NAME="${{ github.event.pull_request.head.ref }}"

          echo "ตรวจพบว่า PR ถูก merge แล้ว"
          echo "กำลังลบกิ่ง: $BRANCH_NAME"

          # ลบ branch บน GitHub (remote)
          git push origin --delete res
