name: Auto Create Pull Request
on:
  push:
    branches:
      - 'oil'
  
jobs:
  create-pull-request:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Create Pull Request
        uses: repo-sync/pull-request@v2
        with:
          source_branch: "oil"
          destination_branch: "main"
          pr_title: "PR: รวมงานจากเครื่องของคุณ"
          pr_body: "สร้างอัตโนมัติจาก GitHub Action"
          github_token: ${{ secrets.GITHUB_TOKEN }}
  